:root {
  --color1: #ddd8cc;
  --color2: pink;
  --color3: #393b4b;
  --color4: rgb(18, 19, 19);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background-color: salmon; */
  background: url(./bg2.jpg) no-repeat center/cover;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background: rgba(0, 0, 0, 0.164);
  width: calc(100% - 50px);
  padding: 20px 20px 6px;
  box-shadow: 0px -2px 9px 5px #8faf5a;
  border-radius: 5px;
  backdrop-filter: blur(2px);
}
.card:before {
  content: "\2730";
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 2.4rem;
}
h1 {
  margin-bottom: 24px;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.ploygon-container {
  filter: drop-shadow(-1px 10px 3px var(--color2));
  /* Si le parent est en grid */
  place-self: center left;
}

.polygon {
  clip-path: polygon(59% 8%, 93% 30%, 75% 79%, 23% 66%, 16% 28%);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(214, 215, 79, 0.8939950980392157) 49%,
    rgba(0, 255, 105, 1) 97%
  );
  height: 100px;
  width: 100px;
}
.polygon:after {
  content: "Un texte";
  position: absolute;
  color: var(--color3);
  background: var(--color4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(346deg);
  width: 90px;
  padding: 4px;
  text-align: center;
}
p {
  line-height: 24px;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}
p::selection {
  background: var(--color3);
  color: var(--color4);
}
.checkbox-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  /* display: none; */
  background: var(--color1);
  color: var(--color3);
  transform: scale(1.3);
  filter: brightness(120%) blur(1px);
}

label {
  cursor: pointer;
  border: 1px solid var(--color1);
  background: var(--color3);
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  /* pour que l'utilisateur n'utilise pas le texte */
  user-select: none;
}

.email {
  text-align: center;
  /* centrer les input avec text-align */
  margin-bottom: 20px;
}

.email input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 3px solid transparent;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  color: var(--color1);
  width: 35%;
  min-width: 150px;
  max-width: 300px;
}

input[type="text"]:focus {
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 100px;
}

input [type="text"]::placeholder {
  color: var(--color3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  background: var(--color2);
  border: none;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 150px;
  margin: 0 auto;
  /* pour centrer un button: display: block (c la raison qd parfois ca centre pas) */
  display: block;
  /* pour transition en entrer et en sortie faut copier dans "button" (comme ici) */
  transition: 0.4s;
}
button:hover {
  letter-spacing: 3px;
}
a {
  /* color: var(--color4); */
  color: green;
  display: block;
  text-decoration: none;
  text-align: center;
}
a:visited {
  /* color: var(--color1); */
  color: yellow;
}
