@font-face {
  font-family: "font-1";
  src: url(./Qahiri-Regular.ttf);
}

h1 {
  text-transform: uppercase;
  /* text-transform: capitalize; */
  letter-spacing: 2px;
  font-size: 2.5rem;
  /* (1 rem = 16px) */
  color: darkblue;
  text-shadow: 3px 0px 7px #3d8c8c;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f0cdcd;
  width: 50%;
  margin: 5px auto;
}

.text {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-family: font-1;
  background-color: coral;
  /* text-align: justify; */
  text-align: center;
  width: 50%;
  /* float: left; */
}

body {
  /* background: wheat; */
  background: url(./img1.jpg) no-repeat center/cover;
  height: 350vh;
}

main {
  background: #3d8c8c;
  /* background: transparent; */
  width: 75%;
  min-height: 300px;
  /* margin: 70px 50px; */
  margin: 10px auto;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 8px 6px 12px 4px #cc3c3c;
}

.positioning,
.flexbox,
.grid {
  background-color: rgba(219, 243, 182, 0.705);
  height: 200px;
  width: 50%;
  margin: 50px auto;
  padding: 10px;
  border: 5px solid brown;
}

.positioning {
  position: relative;
}

h2 {
  margin: 0;
}

#circle {
  height: 60px;
  width: 60px;
  background: skyblue;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 100px;
  box-shadow: 0 2px 12px 5px greenyellow;
  z-index: 2;
}

#rectangle {
  height: 15px;
  width: 100px;
  background: slateblue;
  padding: 20px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  font-size: 0.7rem;
  height: 160px;
  width: 100px;
  background-color: rgba(109, 225, 230, 0.76);
  /* Pour centrer verticalment  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgGrid {
  text-align: center;
}

.grid {
  width: 80%;
  height: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "bt bt";
}

input,
textarea {
  margin: 5px;
  height: 50px;
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  resize: none;
}

#firstname {
  grid-area: i1;
}
#surname {
  grid-area: i2;
}
#textarea {
  grid-area: ta;
}

input[type="submit"] {
  grid-area: bt;
  cursor: pointer;
  background: cyan;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: greenyellow;
  color: white;
}

@media screen and (max-width: 880px) {
  .grid-container {
    display: block;
  }
}
@media screen and (max-width: 780px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "ta"
      "bt";
  }
}
